@charset "UTF-8";

@font-face{
	font-family:'함초롬돋움';
	url('/fonts/HANDotumB.ttf') format('truetype');
	src:local(※), url('/fonts/HANDotumB.ttf') format('ttf');
}

@font-face{
	font-family:'D2Coding';
	src:url('/fonts/D2Coding.ttf');
	url('/fonts/D2Coding.ttf') format('truetype');
	src:local(※), url('/fonts/D2Coding.ttf') format('ttf');
}

@font-face{
	font-family:'배달의민족 도현';
	url('/fonts/BMDOHYEON.ttf') format('truetype');
	src:local(※), url('/fonts/BMDOHYEON.ttf') format('ttf');
}

@font-face{
	font-family:'배달의민족 주아';
	url('/fonts/BMJUA.ttf') format('truetype');
	src:local(※), url('/fonts/BMJUA.ttf') format('ttf');
}
