@charset "UTF-8";

.writeFormBtn {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 18px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: 함초롬돋움;
  font-size: 20px;
  color : black;
  opacity: 0.6
 }
  

.writeFormBtn:hover{
	background-color: rgb(181, 195, 200);
	color: white;
	opacity: 1;
}

.writeFormDiv table{
	width : 100%;
}

.writeFormDiv td{
	width: 30%;
}

#basicInfo table{
	margin: auto;
	width : 70;
}

.InfoTd{
	font-family : 한초롬돋움;
	font-size: 20px;
	padding: 10px;
	width: 200px;

}
