@charset "UTF-8";

.writeFormBtn {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 18px;
  background-color: white;
  font-size: 16px;
  cursor: default;
  text-align: center;
  font-family: 함초롬돋움;
  font-size: 20px;
  color : black;
  opacity: 0.6
 }


.writeFormDiv table{
	width : 100%;
}

.writeFormDiv td{
	width: 30%;
}

#basicInfo table, #detailInfo table, #preview table{
	margin: auto;
	width : 70%;
}

.InfoTd{
	font-family : 한초롬돋움;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	vertical-align: top;

}

.nextA {
  text-decoration: none;
  background-color : rgb(181, 195, 200);
  display: inline-block;
  padding: 8px 16px;
  float: right;
  margin-bottom: 30px;
}

.nextA:hover{
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
}

.previousA {
  text-decoration: none;
  background-color : rgb(181, 195, 200);
  display: inline-block;
  padding: 8px 16px;
  float: left;
  margin-bottom: 30px;
}

.previousA:hover{
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
}

.NoBootStrap{
	width:200px;
	border: 1px solid #ccc; 
	border-radius: 4px; 
	padding: 5px; 
	color: #787878; 
}

#photoUpload { 
  background-color: white;
  border: 3px solid rgb(232, 212, 212);
  color: black;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
}

input[type="file"] {
	/* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

/* 슬라이드 */
.slideshow-container {
  max-width: 80%;
  position: relative;
}

#prev, #next {
  background-color :  rgb(181, 195, 200);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

#next {
  right: 0;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlides {
/*   -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s; */
  animation-name: mySlides;
  animation-duration: 1.5s;
}

/*canvas*/

#canvasDiv {
  max-width: 80%;
  position: relative;
  text-align: left;
}