<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.IBoardDao">

<!-- 내가 작성한 게시글 조회하기 -->

<select id="selectBoardById" parameterType="String" resultType="java.util.HashMap">
	select bnum,bkind,bwritedate,btitle from 
	(select * from board where mid = #{mid} and cdel = 0 order by bwritedate desc) 
    <![CDATA[ where rownum <= 5]]>
</select>

<!-- 여행취향에 맞는 동행게시물 4개조회하기 -->

<select id="selectAccomListByLike" parameterType="String" resultType="AccomBoard">
	select * 
	from (select b.bnum, b.btitle, b.breadcount, b.mid, a.aarea, a.astartdate, a.afinishdate
	         from board b, (select * from accompany
	                                where astartdate > sysdate
	                               <if test="likecode != null">and likecode = #{likecode}</if>) a
	         where b.bnum = a.bnum
	         and b.cdel = 0
	         order by b.breadcount desc) a
	<![CDATA[where rownum <= 4]]>
</select>

<!-- 페이징 데이터로 동행게시물 조회하기 -->

<!-- 조회순으로 가이드 게시물 조회하기 -->
<select id="selectGuideListByRcnt" resultType="GuideBoard">
	select * 
    from (select b.bnum, b.btitle, b.breadcount, b.mid, g.garea ,g.gstartdate, g.gfinishdate, p.photopath
            from (select * from guide
                     <![CDATA[ where genddate >= sysdate ]]> ) g, board b left join (select bnum, photopath
                                                                                     from photo
                                                                                     where porder = 1) p
            on b.bnum = p.bnum
            where b.bnum = g.bnum
            and b.cdel = 0
            order by b.breadcount desc)
    <![CDATA[ where rownum <= 4]]>
</select>

<!-- 페이징 데이터로 가이드게시글 조회하기 -->

<!-- 페이징 데이터로 커뮤니티게시글 조회하기 -->

<!-- 키워드로 동행게시글 조회하기 -->
<!-- 키워드로 가이드게시글 조회하기 -->
<!-- 키워드로 커뮤니티게시글 조회하기 -->


<!-- 게시글 번호로 동행게시글 내용 읽어오기 -->
<select id="selectOneAccom" parameterType="int" resultType="AccomBoard">
	select * from board NATURAL JOIN accompany where bnum = #{bnum}
</select>

<!-- 게시글 번호로 동행게시글 정책 읽어오기 -->
<select id="selectPolicyByBnum" parameterType="int" resultType="java.util.HashMap">
	 select * from policy where bnum = #{bum}
</select>

<!-- 게시글 번호로 동행게시글 댓글 읽어오기 -->
<select id="selectCommentList" parameterType="int" resultType="Comments">
	 select * from comments where bnum = #{bnum} order by cgrid, cnum
</select>

<!-- 게시글 번호로 동행게시글 신청자 받아오기 -->
<select id="selectRegisterListByBnum" parameterType="int" resultType="java.util.HashMap">
	select mid, rnop, rid from register whrere bnum = #{bnum}
</select>

<!-- 게시글 번호로 동행게시글 현재 신청가능 인원 수 조회하기  -->
<select id="getPossibleNop" parameterType="int" resultType="int">
	 select anop - nvl((select sum(rnop)
                       from register
                       where bnum = #{bnum}
                       group by bnum), 0)
    from accompany
    where bnum = #{bnum}
</select>

<!-- 게시글에 동행 및 가이드투어 신청하기 -->
<insert id="insertRegister" parameterType="java.util.HashMap">
	insert into register values (#{rid}, #{bnum}, #{regId}, default, #{nop}, default, default)
</insert>

<!-- 게시글에 동행 및 가이트 투어 신청 취소하기 -->
<delete id="deleteRegister" parameterType="String">
	delete from register where rid=#{rid}
</delete>

<!-- 댓글 달기 -->
<insert id="insertComment" parameterType="Comments">
	insert into comments values (#{cnum}, #{cnum}, #{bnum}, #{mid}, #{ccontent}, default, default)
</insert>

<!-- Re댓글 달기 -->
<insert id="insertRecomment" parameterType="Comments">
	insert into comments values (#{cnum}, #{cgrid}, #{bnum}, #{mid}, #{ccontent}, default, default)
</insert>

<!-- 댓글,답글 삭제 -->
<update id="deleteComment" parameterType="int">
	update comments set cdel = 1 where cnum = #{cnum}
</update>


</mapper>























